#header{
    text-align: center;
    background-color: cadetblue;
    padding: 10px;
}

#menu{
    display: flex;
    background-color: darkslategrey;
}

#menu > a > div{
    color: white;
    padding: 10px;
    border : 1px solid black;
}
#content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}
#content > div {
    text-align: center;
    height: 300px;
    line-height: 225px;
}
#col1{
    width: 25%;
    background-color: darkgray;
}
#col2{
    width: 50%;
    background-color: lightgray;
}
#col3{
    width: 25%;
    background-color: gray;
}
 

#footer{
    clear: both;
    text-align: center;
    background-color: darkslategrey;
    padding: 10px;
}

@media (max-width : 600px){
    #col1{
        width: 50%;
        background-color: darkgray;
    }
    #col2{
        width: 50%;
        background-color: lightgray;
    }
    #col3{
        width: 100%;
        background-color: gray;
    }

}